<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/logo.ico">
         <run
               class="net.syncarus.rcp.Application">
         </run>
      </application>
   </extension>
   <extension	
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.syncarus.rcp.Perspective"
            fixed="true"
            id="net.syncarus.rcp.Perspective"
            name="Main Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.syncarus.gui.SyncView"
            icon="icons/comparison_tree.png"
            id="net.syncarus.gui.SyncView"
            name="Where are the differences?"/>
      <view
            allowMultiple="false"
            class="net.syncarus.gui.DiffPropertiesView"
            icon="icons/properties.png"
            id="net.syncarus.gui.DiffPropertiesView"
            name="What will happen?"/>
      <view
            allowMultiple="false"
            class="net.syncarus.gui.LogView"
            id="net.syncarus.gui.LogView"
            icon="icons/log.png"
            name="What is going on?"
            restorable="true">
      </view>
   </extension>
   <extension id="Syncarus" point="org.eclipse.core.runtime.products">
      <product application="net.syncarus.application" name="Syncarus">
         <property name="appName" value="Syncarus"/>
      </product>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page class="net.syncarus.rcp.preferences.FilterPreferencePage" id="net.syncarus.rcp.preferences.FilterPreferencePage" name="Name-based filtering"/>
      <page
            class="net.syncarus.rcp.preferences.ComparisonPreferencePage"
            id="net.syncarus.rcp.preferences.ComparisonPreferencePage"
            name="File comparison">
      </page>
   </extension>
</plugin>
